section{
    max-width: 100vw;
    width:100%;
    & #section1{
        aspect-ratio: 1920/940;
        @include bckgrdimg("../img/banner_bg.jpg");
    }
    & #section2{
        aspect-ratio: 1920/980;
    }
    & #section3{
        aspect-ratio: 1920/203;
    }
    & #section4{
        aspect-ratio: 1920/775;
        @include bckgrdimg("../img/banner_bg.jpg") 
    }
    & #section5{
        aspect-ratio: 1920/1160;
        @include bckgrdimg("../img/banner_bg.jpg");
        margin: auto 0;
    }
}
footer{
    aspect-ratio: 1920/667;
}
.container{
    max-width: 80vw;
    width:100%;
    aspect-ratio: 1520/940;
    margin: 0 auto;
    &__gallery{
        display: grid;
        grid-template-columns: 1fr auto;
        &__gallery__links{
            background-color: #3DC1CD;
            color:#fff;
            width:25vw;
            height: 7.5vh;
            margin:auto 0;
            display:flex;
            flex-direction: column;
            align-content: space-between;
            align-items: flex-start
            &__links__top{
                border-bottom: solid .125rem #fff;
            }
        }
    }
}
