/* Error: Missing argument $urlimg.
 *   ,--> sass/layout/_container.scss
 * 20|         @include bckgrdimg;
 *   |         ^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> sass/utils/_mixins.scss
 * 3 | @mixin bckgrdimg($urlimg) {
 *   |        ================== declaration
 *   '
 *   sass/layout/_container.scss 20:9  bckgrdimg()
 *   sass/layout/_container.scss 20:9  @import
 *   sass/main.scss 13:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $urlimg.\a   \250c \2500 \2500 > sass/layout/_container.scss\a 20\2502          @include bckgrdimg;\a   \2502          ^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > sass/utils/_mixins.scss\a 3 \2502  @mixin bckgrdimg($urlimg) {\a   \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   sass/layout/_container.scss 20:9  bckgrdimg()\a   sass/layout/_container.scss 20:9  @import\a   sass/main.scss 13:9               root stylesheet";
}
